<article class="listing">
  <h3>{{playlist.name}}</h3>
  <div class="detail id">
    <span>ID:</span> {{playlist.id}}
  </div>
  <div class="detail map-size">
    <span>Songs:</span> {{playlist.map-size}}
  </div>
  <div class="detail user-ids">
    <span>Members:</span> {{playlist.user-ids}}
  </div>
  <div class="detail creator-id">
    <span>Creator:</span> {{playlist.creator-id}}
  </div>
  <div class="detail date-created">
    <span>Date Created:</span> {{playlist.date-created}}
  </div>
</article>